

body {
            font-family: Arial, sans-serif;
            max-width: 400px;
            margin: 80px auto ;
            padding: 60px;
            border: 3px solid rgba(0, 119, 255, 0.8);
            border-radius: 10px;
            font-style: italic;
        
                                    
        }

        #logo {
                margin-top:auto;
                margin-bottom: auto;
                box-shadow: 1px 1px 1px 2px rgb(53, 107, 255, 0.6);
                border-radius: 100%;
                margin-left: 1%;
                height: 80px;
                width: 90px;
                 animation: pulse 2s infinite;
               
            }
        /*#logo:hover{
                transition-duration: 1s;
                box-shadow: 2px 2px 2px 3px rgb(75, 132, 255) ;
               

            }*/

        #fundo{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        input, button {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
            box-sizing: border-box;
            border-radius: 10px ;
            margin: 10px;
            background-color:rgba(0, 119, 255, 0.2);

        }input:hover{

            box-shadow: 1px 1px 2px 1px rgb(1, 90, 255, 0.4);
            background-color: rgba(0, 174, 255, 0.6);
            transition-duration: 1s;

        }
        
        button:hover{
      
            color: black;
            box-shadow: 1px 1px 1px 2px rgb(18, 18, 255, 0.6);
            background-color: rgba(9, 206, 255, 0.3);
            transition-duration: 1s;
            transform-origin: 4%;
            border-radius: 20px;

        }
        button{
            margin-top: 30px;

        }

        .erro{
            border: 2px solid red;

        }

        @keyframes pulse {
    0% {
        box-shadow: 1px 1px 1px 2px rgba(53, 107, 255, 0.6);
        transform: scale(1);
    }
    50% {
        box-shadow: 2px 2px 2px 3px rgba(75, 132, 255, 0.8);
        transform: scale(1.05);
    }
    100% {
        box-shadow: 1px 1px 1px 2px rgba(53, 107, 255, 0.6);
        transform: scale(1);
    }
}
